
#go88-nohu
{
    color: blue;
    font-size:  18px;
    padding-right: 20px;
}
.modau-tuyen{
    color: black;
    font-size: 25px;
}
#link-facebook
{
    color: red;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

     